[Unit]
Description=Relay HTTP service for codestats.net which returns immidiately to prevent lags in editors
PartOf=sway-session.target
After=sway-session.target

[Service]
Type=simple
ExecStart=/usr/bin/bash -c 'codestats-relay'
Restart=on-failure

[Install]
WantedBy=sway-session.target
