[Unit]
Description=Add bindsym to switch xkb layout for Sway
PartOf=sway-session.target
After=sway-session.target

[Service]
Type=simple
ExecStart=/usr/bin/bash -c 'layout-switcher-binder'
Restart=on-failure

[Install]
WantedBy=sway-session.target
