[Unit]
Description=Playerctl daemon
PartOf=sway-session.target
After=sway-session.target

[Service]
Type=simple
ExecStart=/usr/bin/bash -c 'playerctld'
Restart=on-failure

[Install]
WantedBy=sway-session.target
